:root {
  --primary-gradient: linear-gradient(135deg, #3498db, #8e44ad);
  --card-bg: #2d3439;
  --online: #2ecc71;
  --offline: #e74c3c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  /* font-family: 'Noto Sans SC', sans-serif; */
  color: #ecf0f1;
  padding: 0 3rem;
  line-height: 1.6;
  background: url("https://t.alcy.cc/ycy") center center/cover no-repeat;
  @media (max-width: 768px) {
    padding:0 10px;
    background-image: url("https://t.alcy.cc/moemp");
  }
}

.card {
  width: 100%;
  border-radius: 16px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease;
  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.4);
  }
}

h1 {
  font-weight: 700;
  margin-bottom: 1.5rem;
}

b {
  color: #3498db;
  font-weight: 600;
}
a{
  text-decoration: none;
}
